@model GestionareProduse.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Categorii</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatId">Editare</a> |
    <a asp-action="Index">Inapoi la lista</a>
</div>
